Repository twopilogue/prologue, pull requests merged in 2024-05, with the labels that each got.

#2 [FE] zustand 일부 마이그레이션
  frontend/src/AuthRoute.tsx
  frontend/src/apis/Api.ts
  frontend/src/apis/services/auth.ts
  frontend/src/components/Header.tsx
  frontend/src/features/blog/BlogCustomInfo.tsx
  frontend/src/features/dashboard/DashboardCalendar/Calendar.tsx
  frontend/src/features/dashboard/DashboardCalendar/DashboardCalendar.tsx
  frontend/src/features/dashboard/DashboardInfo.tsx
  frontend/src/features/dashboard/DashboardList.tsx
  frontend/src/features/dashboard/DashboardPreview.tsx
  frontend/src/features/landing/LoginOAuthHandler.tsx
  frontend/src/features/post/PostCategory.tsx
  frontend/src/features/post/PostCategoryList.tsx
  frontend/src/features/post/PostList.tsx
  frontend/src/features/post/PostWrite.tsx
  frontend/src/features/post_before/Post.module.css
  frontend/src/features/post_before/PostListCard.tsx
  frontend/src/features/post_before/PostListImgCard.tsx
  frontend/src/features/post_before/PostViewerContents.tsx
  frontend/src/features/post_before/PostWrite.module.css
  frontend/src/features/post_before/PostWriteContents.tsx
  frontend/src/features/post_before/PostWriteTitle.tsx
  frontend/src/features/setting/myinfo/MyGitInfo.tsx
  frontend/src/interfaces/auth.interface.ts
  frontend/src/pages/CategoryPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/DetailSettingPage.tsx
  frontend/src/pages/GatsbyLayoutPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LayoutSettingPage.tsx
  frontend/src/pages/MyInfoPage.tsx
  frontend/src/pages/NotUsed/PageEditPage.tsx
  frontend/src/pages/NotUsed/PageViewerContents.tsx
  frontend/src/pages/PageRouterPage.tsx
  frontend/src/pages/PageSettingPage.tsx
  frontend/src/pages/PostEditPage.tsx
  frontend/src/pages/PostPage.tsx
  frontend/src/pages/PostRouterPage.tsx
  frontend/src/pages/PostWritePage.tsx
  frontend/src/slices/authSlice.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/dashboardStore.ts
  frontend/src/stores/postStore.ts
  frontend/src/stores/settingStore.ts
  package-lock.json
Labels: frontend, refactor

#4 [FE] post 컴포넌트 구조 리팩토링
  frontend/src/App.tsx
  frontend/src/apis/Api.ts
  frontend/src/apis/api/setting.ts
  frontend/src/components/Modal.tsx
  frontend/src/features/post/PostCategory.tsx
  frontend/src/features/post/PostEditor.tsx
  frontend/src/features/post/PostInfo.tsx
  frontend/src/features/post/PostList.tsx
  frontend/src/features/post/PostListCard.tsx
  frontend/src/features/post/PostListImgCard.tsx
  frontend/src/features/post/PostRouter.tsx
  frontend/src/features/post/PostViewerContents.tsx
  frontend/src/features/post/PostWrite.tsx
  frontend/src/features/setting/SettingMenuComponents.tsx
  frontend/src/pages/BlogResetPage.tsx
  frontend/src/pages/CategoryPage.tsx
  frontend/src/pages/DetailSettingPage.tsx
  frontend/src/pages/LayoutSettingPage.tsx
  frontend/src/pages/MyInfoPage.tsx
  frontend/src/pages/NotUsed/PageEditPage.tsx
  frontend/src/pages/NotUsed/PageViewerContents.tsx
  frontend/src/pages/PostEditPage.tsx
  frontend/src/pages/PostWritePage.tsx
  frontend/src/pages/post/PageRouterPage.tsx
  frontend/src/pages/post/PageSettingPage.tsx
  frontend/src/pages/post/PostPage.tsx
  frontend/src/pages/post/PostWritePage.tsx
  frontend/src/slices/postSlice.ts
  frontend/src/stores/postStore.ts
  frontend/src/styles/Post.module.css
  frontend/src/styles/PostWrite.module.css
Labels: frontend, refactor

#8 [FE] 블로그 생성 오류 수정
  frontend/src/features/blog/BlogCustomInfo.tsx
  frontend/src/pages/CreatePage.tsx
Labels: fix, frontend

#9 [FE] setting zustand 마이그레이션 및 코드 개선
  frontend/src/App.tsx
  frontend/src/apis/Api.ts
  frontend/src/apis/services/setting.ts
  frontend/src/components/Button.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/RadioButton.tsx
  frontend/src/components/SwitchButton.tsx
  frontend/src/features/setting/SettingMenuComponents.tsx
  frontend/src/features/setting/TabMenu.tsx
  frontend/src/features/setting/category/CategoryLayout.tsx
  frontend/src/features/setting/category/CategoryLayoutItem.tsx
  frontend/src/features/setting/detail/DetailSelector.tsx
  frontend/src/features/setting/detail/DetailSettingStyles.tsx
  frontend/src/features/setting/detail/SettingLayout.tsx
  frontend/src/features/setting/detail/components/CategorySetting.tsx
  frontend/src/features/setting/detail/components/ContentsSetting.tsx
  frontend/src/features/setting/detail/components/LogoSetting.tsx
  frontend/src/features/setting/detail/components/PageSetting.tsx
  frontend/src/features/setting/detail/components/ProfileSetting.tsx
  frontend/src/features/setting/detail/components/TitleSetting.tsx
  frontend/src/features/setting/layout/ComponentSelector.tsx
  frontend/src/features/setting/layout/DefaultLayoutStyles.tsx
  frontend/src/features/setting/layout/LayoutContainer.tsx
  frontend/src/features/setting/layout/LayoutCustom.tsx
  frontend/src/features/setting/layout/LayoutSample.tsx
  frontend/src/features/setting/layout/LayoutSelector.tsx
  frontend/src/features/setting/layout/LayoutSelectorItem.tsx
  frontend/src/features/setting/myinfo/MyBlogInfoInput.tsx
  frontend/src/features/setting/myinfo/MyGitInfo.tsx
  frontend/src/features/setting/myinfo/MyInfoInput.tsx
  frontend/src/features/setting/page/PageLayout.tsx
  frontend/src/features/setting/page/PageLayoutItem.tsx
  frontend/src/interfaces/setting.interface.ts
  frontend/src/pages/post/PageSettingPage.tsx
  frontend/src/pages/setting/CategoryPage.tsx
  frontend/src/pages/setting/DetailSettingPage.tsx
  frontend/src/pages/setting/LayoutSettingPage.tsx
  frontend/src/pages/setting/MyInfoPage.tsx
  frontend/src/pages/setting/SettingPage.tsx
  frontend/src/slices/settingSlice.ts
  frontend/src/stores/settingStore.ts
  frontend/src/styles/Setting.module.css
  frontend/src/utils/getTextColor.ts
Labels: frontend, refactor

#12 [BE] 템플릿 경로 수정
  backend/prologue/src/main/java/com/b208/prologue/api/service/BlogServiceImpl.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/DashBoardServiceImpl.java
Labels: backend, feature

#13 [FE] 임시저장/자동저장 컴포넌트 생성
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/apis/Api.ts
  frontend/src/apis/api/setting.ts
  frontend/src/components/Button.tsx
  frontend/src/components/Tooltip.tsx
  frontend/src/components/css/Header.module.css
  frontend/src/components/css/Tooltip.module.css
  frontend/src/features/dashboard/DashboardCalendar/DashboardCalendar.tsx
  frontend/src/features/dashboard/DashboardInfo.tsx
  frontend/src/features/dashboard/DashboardList.tsx
  frontend/src/features/dashboard/DashboardMenu.tsx
  frontend/src/features/dashboard/DashboardPreview.tsx
  frontend/src/features/post/PostCategory.tsx
  frontend/src/features/post/PostEditor.tsx
  frontend/src/features/post/PostInfo.tsx
  frontend/src/features/post/PostTempModal.tsx
  frontend/src/features/setting/TabMenu.tsx
  frontend/src/index.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/PageSettingPage.tsx
  frontend/src/pages/post/PostPage.tsx
  frontend/src/pages/post/PostWritePage.tsx
  frontend/src/styles/Dashboard.module.css
  frontend/src/styles/Post.module.css
  frontend/src/styles/PostWrite.module.css
Labels: design, feature, frontend

#15 [BE] 임시 저장 게시글 불러오기 API 작성
  backend/prologue/build.gradle
  backend/prologue/src/main/java/com/b208/prologue/PrologueApplication.java
  backend/prologue/src/main/java/com/b208/prologue/api/controller/TempPostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/entity/TempPost.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/TempPostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/GetTempPostResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/main/resources/keystore.p12
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#17 [BE] 게시글 임시 저장 API 작성
  backend/prologue/build.gradle
  backend/prologue/src/main/java/com/b208/prologue/api/controller/TempPostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/request/SaveTempPostRequest.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/SaveTempPostResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#19 [BE] 임시 저장 게시글 삭제 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/TempPostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/TempPostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#21 [BE] 임시 저장 게시글 수정 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/TempPostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/exception/TempPostException.java
  backend/prologue/src/main/java/com/b208/prologue/api/request/ModifyTempPostRequest.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#23 [BE] 임시 저장 게시글 수 조회 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/TempPostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/TempPostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/CountTempPostsResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#25 [BE] 임시 저장 게시글 목록 조회 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/TempPostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/entity/TempPost.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/TempPostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/GetTempPostsResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/TempPostsResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#28 [BE] 게시글 자동 저장 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/AutoSavePostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/entity/AutoSavePost.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/AutoSavePostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/request/AutoSavePostRequest.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostServiceTest.java
Labels: backend, feature, test

#30 [BE] 자동 저장 게시글 존재 여부 확인 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/AutoSavePostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/exception/AutoSavePostException.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/AutoSavePostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/CheckAutoSavePostsResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostServiceTest.java
Labels: backend, feature, test

#32 [BE] 자동 저장 게시글 조회 API 작성하기
  backend/prologue/src/main/java/com/b208/prologue/api/controller/AutoSavePostController.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/GetAutoSavePostResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostControllerTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostServiceTest.java
Labels: backend, feature, test

#33 [BE] 게시글 작성 API 로직 수정
  backend/prologue/src/main/java/com/b208/prologue/api/controller/PostsController.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/AutoSavePostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/request/WriteDetailPostRequest.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostServiceImpl.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostServiceTest.java
Labels: backend, feature, test

#35 [BE] 임시 저장 게시글 관련 API 응답 수정
  backend/prologue/src/main/java/com/b208/prologue/api/response/GetTempPostResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/response/TempPostsResponse.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
Labels: backend, feature, test

#37 [BE] 스프링 스케줄러 설정하기
  backend/prologue/.gitignore
  backend/prologue/src/main/java/com/b208/prologue/PrologueApplication.java
  backend/prologue/src/main/java/com/b208/prologue/api/entity/AutoSavePost.java
  backend/prologue/src/main/java/com/b208/prologue/api/entity/TempPost.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/AutoSavePostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/repository/TempPostRepository.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/AutoSavePostServiceImpl.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/SchedulerService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostService.java
  backend/prologue/src/main/java/com/b208/prologue/api/service/TempPostServiceImpl.java
  backend/prologue/src/main/java/com/b208/prologue/common/StringListConverter.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/autoSavePost/AutoSavePostServiceTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostRepositoryTest.java
  backend/prologue/src/test/java/com/b208/prologue/tempPost/TempPostServiceTest.java
Labels: backend, feature, test

#39 [FE] 임시저장 개수 및 목록 조회 API 연결
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/Api.ts
  frontend/src/apis/BaseUrl.ts
  frontend/src/apis/api/temp.ts
  frontend/src/features/post/PostTempModal.tsx
  frontend/src/interfaces/post.interface.ts
  frontend/src/pages/PageRouterPage.tsx
  frontend/src/pages/post/PostWritePage.tsx
Labels: feature, frontend

#41 [FE] 임시저장 게시글 조회 API 연결
  frontend/src/apis/Api.ts
  frontend/src/apis/api/temp.ts
  frontend/src/features/post/PostEditor.tsx
  frontend/src/features/post/PostTempModal.tsx
  frontend/src/interfaces/post.interface.ts
Labels: feature, frontend

#43 [FE] 자동저장 확인 및 조회 API 연결
  frontend/src/apis/Api.ts
  frontend/src/apis/api/auto.ts
  frontend/src/features/post/PostViewerContents.tsx
  frontend/src/interfaces/post.interface.ts
  frontend/src/pages/post/PostWritePage.tsx
Labels: feature, frontend

#45 [FE] 임시저장 작성 API 연결
  frontend/src/apis/Api.ts
  frontend/src/apis/api/temp.ts
  frontend/src/features/post/PostEditor.tsx
  frontend/src/features/post/PostList.tsx
  frontend/src/features/post/PostTempModal.tsx
  frontend/src/interfaces/post.interface.ts
  frontend/src/slices/postSlice.ts
  frontend/src/stores/postStore.ts
Labels: feature, frontend

#47 [FE] 임시저장 삭제 API 연결
  frontend/src/apis/Api.ts
  frontend/src/apis/api/temp.ts
  frontend/src/features/post/PostTempModal.tsx
  frontend/src/pages/post/PostWritePage.tsx
Labels: feature, frontend

#49 [FE] 게시글 작성 API request 수정
  frontend/src/features/post/PostTempModal.tsx
  frontend/src/pages/post/PostWritePage.tsx
  frontend/src/stores/postStore.ts
Labels: feature, frontend

#51 [FE] 자동저장 API 연결
  frontend/src/apis/Api.ts
  frontend/src/apis/api/auto.ts
  frontend/src/pages/post/PostWritePage.tsx
  frontend/src/utils/useInterval.ts
Labels: feature, frontend

#53 [FE] 임시저장 게시글 수정 API 연결
  frontend/src/apis/Api.ts
  frontend/src/apis/BaseUrl.ts
  frontend/src/apis/api/temp.ts
  frontend/src/features/post/PostTempModal.tsx
Labels: feature, frontend

#55 [BE] GitActions를 활용한 CI/CD
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: setting
